<h2><%= @question.content %></h2>
<h3><%= @question.votes %> votes</h3>

<%= link_to 'edit', edit_question_path(@question) %>
<%= link_to 'destroy', question_path(@question), :method => :delete, data: {:confirm => 'Are you sure?'} %>

<p>
<div class="answer-form">
  <%= render 'answers/form', :answer => @answer, :question => @question %>
</div>

<ul class="answers">
    <% @answers.sort_by(&:created_at).reverse.each do |answer| %>
      <%= render 'answers/answer', :question => @question, :answer => answer %>
    <% end %>
</ul>

<%= link_to 'Home', questions_path %>



