<div class="poem-form">
  <div class="errors"></div>
  <%= render 'shared/form_errors', :object => @poem %>
  <%= form_for @poem do |f| %>
    <%= f.label :poem %>
    <%= f.text_field :content %>
    <%= f.submit "Update" %>
  <% end %>
</div>