
<div class="row-fluid">

  <div class="col-md-3 create-bar">
        <img class="pen" src="http://cdn.builtinchicago.org/sites/default/files/imagecache/Original/images/maillift_pen_icon_transfer_files_no_background.jpg">
<div class="poem-form">
      <div class="errors"></div>
      <%= render 'shared/form_errors', :object => @poem %>
      <%= form_for @poem, remote: true, :html => { :class => "poem-form" } do |f| %>
      <div class="poem-form-inputs">
        <%= f.label :title %><br/>
        <%= f.text_field :title, :placeholder => "title" %><br />
        <%= f.label :content %><br/>
        <%= f.text_area :content, :placeholder => "please use slashes / to end each line" %><br />
        <%= f.submit "Add" %>
      </div>
      <% end %>
    </div>
</div>
 <div class="col-md-7 slam">

    <h1>The Slam</h1>
    <ul class="poems">
      <% @poems.sort_by(&:votes).reverse.each do |poem| %>
        <li class="poem<%=poem.id%>">
          <%= render 'poemtitle', :poem => poem %>
        </li>
      <% end %>
    </ul>

<!--   <blockquote><%= @quote %></blockquote>
 -->
</div>


</div>
