<div class="row"><div class="col-md-12"></div></div>
<div class="row">
  <div class="col-md-4"></div>
  <div class="col-md-4">
    <h1>Public Poetry</h1>
    <div class="poem-form">
      <div class="errors"></div>
      <%= render 'shared/form_errors', :object => @poem %>
      <%= form_for @poem, remote: true do |f| %>
      <%= f.label :title %>
      <%= f.text_field :title %><br />
      <%= f.label :content %>
      <%= f.text_area :content %><br />
      <%= f.submit "Add" %>
      <% end %>
    </div>

    <h4>All Poems</h4>
    <ul class="poems">
      <% @poems.sort_by(&:votes).reverse.each do |poem| %>
        <%= render 'poem_title', :poem => poem %>
      <% end %>
    </ul>

<!--   <blockquote><%= @quote %></blockquote>
 -->
</div>
  <div class="col-md-4"></div>
</div>
