
<div class="vote"><%= render 'poem', :poem => @poem %></div>
<div class="poem-title"><h1><%= @poem.title %></h1></div>
<div class="poem-content">
  <%= @poem.content %>
</div>

<p>
<h3>Comments</h3>
<ul class="comments">
    <% @comments.sort_by(&:votes).reverse.each do |comment| %>
      <%= render 'comments/comment', :poem => @poem, :comment => comment %>
    <% end %>
</ul>

<div class="comment-form">
  <%= render 'comments/form', :comment => @comment, :poem => @poem %>
</div>

<div class="lower-nav">

<%= link_to image_tag("http://icons.iconarchive.com/icons/custom-icon-design/mono-general-2/512/edit-icon.png", :width => 40), edit_poem_path(@poem) %>
<%= link_to image_tag("http://megaicons.net/static/img/icons_sizes/8/178/512/editing-delete-icon.png", :width => 40), poem_path(@poem), :method => :delete, data: {:confirm => 'Are you sure?'} %>

<%= link_to image_tag("http://uxrepo.com/static/icon-sets/font-awesome/svg/home.svg", :width => 40), poems_path %>

</div>
