<h2><%= @poem.content %></h2>
<h3><%= @poem.votes %> votes</h3>

<%= link_to 'edit', edit_poem_path(@poem) %>
<%= link_to 'destroy', poem_path(@poem), :method => :delete, data: {:confirm => 'Are you sure?'} %>

<p>
<div class="comment-form">
  <%= render 'comments/form', :comment => @comment, :poem => @poem %>
</div>

<ul class="comments">
    <% @comments.sort_by(&:created_at).reverse.each do |comment| %>
      <%= render 'comments/comment', :poem => @poem, :comment => comment %>
    <% end %>
</ul>

<%= link_to 'Home', poems_path %>



